@media (max-width: 768px){

    .navbar ul.navbar-nav li.nav-item a.nav-link {
        color: white !important;
      }

      .navbar-collapse {
          height: 100vh
      }
}


@import "../bootstrap/scss/bootstrap.scss";

//

.logo {
    width: 3% !important;
}





